<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/dq111_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dq111_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".JobSyllabusActivity"
            android:exported="false" />
        <activity
            android:name=".GroupExamActivity"
            android:exported="false" />
        <activity
            android:name=".LiveExamScoreActivity"
            android:exported="false" />
        <activity
            android:name=".LiveExamActivity"
            android:exported="false" />
        <activity
            android:name=".MCQActivity"
            android:exported="false" />
        <activity
            android:name=".SpecialExamActivity"
            android:exported="false" />
        <activity
            android:name=".DepartmentActivity"
            android:exported="false" />
        <activity
            android:name=".StudyActivity"
            android:exported="false" />
        <activity
            android:name=".AllSubjectsQuizActivity"
            android:exported="false" />
        <activity
            android:name=".GeneralKnowledgeQuizActivity"
            android:exported="false" />
        <activity
            android:name=".MathQuizActivity"
            android:exported="false" />
        <activity
            android:name=".EnglishQuizActivity"
            android:exported="false" />
        <activity
            android:name=".BanglaQuizActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".FAQActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".DeveloperActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".AlreadyCreateActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".GetStartActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>